*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(53, 52, 52, 0.5), rgba(53, 52, 52, 0.9)),url(/images/IMG02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form__titleWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

.form__titleWrap h1{
    color: #fff;
    text-transform: capitalize;
}

.form__titleWrap span {
    width: 50px;
    height: 1px;
    border: 1px solid #fff;
    color: #fff;
    margin: 1rem 0;
}

.form__container {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

.form__inputWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
}

.form__inputWrap-inputLabel {
    display: flex;
    flex-direction: column;
    flex: 2;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.form__inputWrap-inputLabel span{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #b6b6b6;
    font-family: 'Josefin Sans', sans-serif;
}

.form__inputWrap-inputLabel label{
    padding-bottom: 0.8rem;
}

.form__inputWrap-inputLabel span input {
    width: 100%;
    outline: none;
    border: none;
}

.form__inputWrap span{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    color: red;
    margin-top: .2rem;
}

.form__inputWrap-btnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.form__inputWrap-btnWrap button {
    width: 90%;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.form__inputWrap-btnWrap button:hover {
    background-color: #03a1a1;
}

.form__inputWrap-btnWrap span {
    color: red;
    margin-bottom: 1rem;
    padding-top: 0.2rem;
}